/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth; 
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #0a070c;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #6b2e66;
  font-size: 2.5rem;
}

/* Nav section with HERO*/

.main-head {
  background-color: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./images/1781.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/* Locations Section */

#locations {
  min-height: 100vh;
  background: url("./images/2352.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
  color: white;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}
.locations-head h3 {
  padding: 4rem 0rem;
}


.asteroid {
  position: absolute;
  top: 2%;
  right: 50%;
  transform: rotate(180deg);
  width: 80px;
  height: 80px;
}
.moving-asteroid {
  font-size: 15px;
  animation: asteroidAnimation 7s linear infinite;
}

.ship2 {
  position: absolute;
  top: 30%;
  right: 15%;
  width: 55px;
  height: 60px;
}
.moving-ship-2 {
  font-size: 15px;
  animation: shipAnimation2 4s infinite alternate ease-in-out;
}

.ship3 {
  position: absolute;
  top: 74%;
  right: 47%;
  width: 45px;
  height: 50px;
}
.moving-ship-3 {
  font-size: 15px;
  animation: shipAnimation3 4s linear infinite;
}



/* Ship Animation */

@keyframes asteroidAnimation {
  100% {
    transform: translate(500px, 400px);
  }
}

@-webkit-keyframes shipAnimation2 {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@keyframes shipAnimation3 {
  from {
    transform: rotate(360deg) translate(115px);
  }
  to {
    transform: rotate(0deg) translate(115px);
  }
}

/* Benefits section */

.benefits-head {
  background: #455d8a;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(248, 246, 246);
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 100%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  background: rgba(162, 80, 255, 0.281);
}

.card {
  background: rgb(104, 56, 136);
  text-align: center;
  min-height: 30vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  color: white;
}

.cards img {
  max-width: 20%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 3rem;
}

#death {
  opacity: 0.6;
}

/* Contact Section */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
   url(./images/1859.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: #131c27;
  width: 60%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
}

/* Footer Section */

footer {
  color: white;
  background: rgb(18, 21, 26);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
.twitter,
.instagram,
.youtube {
  width: 30px;
  height: 30px;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

/* Media Query */

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
    position: relative;
    z-index: 2;
  }
  .ship {
    height: 40rem;
  }
  .moving-ship-3 {
    z-index: 1;
  }
  .ship3 {
    right: 39%;
  }
  @keyframes shipAnimation3 {
    from {
      transform: rotate(360deg) translate(80px);
    }
    to {
      transform: rotate(0deg) translate(80px);
    }
  }
  .cards {
    display: inline-table;
  }
  .card {
    width: 90%;
    height: 20%;
    padding: 1rem;
    margin: 2.5rem;
    flex-flow: column wrap;
    color: white;
  }
  .cards h4 {
    padding: 1rem;
  }
  .cards p {
    padding: 1rem;
    margin: 1rem;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
}
